@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

@media (min-width: 1000px) {
  nav {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    width: 1500px;
    background: #ffff;
    position: fixed;
    z-index: 20;
    border-bottom: px solid #e8e2d6;
    height: 75px;
  }
  nav .fa-sort-down {
    margin-left: 20px;
  }
  nav input {
    display: none;
  }
  nav .wrapper {
    position: relative;
    padding: auto;
    margin-left: 17vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 2;
  }
  nav .wrapper .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
    color: #ffffff;
  }
  nav .wrapper .logo-top {
    cursor: pointer;
    padding-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.3;
  }
  nav .wrapper .logo-top .logo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  nav .wrapper .logo-top .logo .logo1 a {
    color: #262a32;
    font-size: 30px;
    font-weight: 780;
    text-decoration: none;
  }
  nav .wrapper .logo-top .logo .logo2 a {
    color: #84bc22;
    font-size: 14px;
    font-weight: 350;
    text-decoration: none;
  }
  nav .wrapper .logo-top .img-logo {
    border-radius: 50px;
  }
  nav .wrapper .nav-links {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 10rem;
  }
  nav .wrapper .nav-links li {
    list-style: none;
  }
  nav .wrapper .nav-links li a {
    color: #45413e;
    text-decoration: none;
    font-size: 13px;
    font-weight: 540;
    padding: 9px 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  nav .img-cast {
    border-radius: 10px;
    margin-top: 50px;
    width: 23%;
    height: 23%;
  }
  nav .wrapper .grey {
    color: #bdbdbd;
  }
  nav .nav-links li a:hover {
    background: #262a32;
    border-bottom: 7px solid #a1cc55;
  }
  nav .nav-links .mobile-item {
    display: none;
  }
  nav .nav-links .drop-menu {
    position: absolute;
    background: #262a33;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  nav .nav-links li:hover .drop-menu,
  nav .nav-links li:hover .mega-box {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  nav .drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
  }
  nav .mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    width: 1200px;
    background: #262a33;
    padding: 25px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  nav .mega-box .row {
    width: calc(25% - 30px);
    line-height: 45px;
  }
  nav .mega-box .row i {
    display: none;
  }
  nav .mega-box .row header {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .row .mega-links li {
    padding: 0 20px;
    text-align: center;
  }
  nav .row .mega-links li a {
    padding: 0px;
    padding: 0 20px;
    color: #ffffff;
    font-size: 14px;
    display: block;
    border-bottom: none;
  }
  nav .row .mega-links li a:hover {
    color: white;
  }
  nav .wrapper .btn {
    color: #262a33;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .wrapper .nav-links .nav-bottom ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media (max-width: 350px) {
  nav {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    background: #ffff;
    border-bottom: 1px solid #e8e2d6;
  }
  nav input {
    display: none;
  }
  nav .wrapper {
    max-width: 320px;
    padding: auto;
    line-height: 25px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    z-index: 2;
  }
  nav .wrapper .logo-top {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.3;
  }
  nav .wrapper .logo-top .logo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    visibility: hidden;
  }
  nav .wrapper .logo-top .logo .logo1 a {
    color: #262a32;
    font-size: 30px;
    font-weight: 780;
    text-decoration: none;
  }
  nav .wrapper .logo-top .logo .logo2 a {
    color: #84bc22;
    font-size: 14px;
    font-weight: 350;
    text-decoration: none;
  }
  nav .wrapper .logo-top .img-logo {
    border-radius: 50%;
  }
  nav .wrapper .nav-links {
    position: fixed;
    height: 80vh;
    width: 100%;
    max-width: 320px;
    top: 65px;
    left: -100%;
    background: #262a33;
    display: block;
    padding: 5px;
    overflow-y: auto;
    -webkit-box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
            box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 3;
  }
  nav .wrapper .nav-links .fa-sort-down {
    margin-left: 15px;
  }
  nav .wrapper .nav-links .desktop-item {
    display: none;
  }
  nav .wrapper .nav-links .mobile-item {
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  nav .wrapper .nav-links li {
    margin: 15px 10px;
    list-style: none;
    color: #fff;
  }
  nav .wrapper .nav-links li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 540;
    padding: 10px 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  nav .wrapper .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  nav .wrapper .nav-links .mega-box {
    position: absolute;
    width: 100%;
    top: 85px;
    opacity: 1;
    visibility: hidden;
    background: #262a33;
    padding: 20px 20px 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  nav .wrapper .nav-links .mega-box .img-cast {
    width: 75%;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  nav .wrapper .nav-links .mega-box .first-row {
    display: contents;
  }
  nav .wrapper .nav-links .mega-box .first-row header {
    color: #fff;
    font-size: 17px;
  }
  nav .wrapper .nav-links .mega-box .first-row .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    display: none;
    text-align: left;
  }
  nav .wrapper .nav-links li:hover .drop-menu,
  nav .wrapper .nav-links li:hover .mega-box {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    top: 0;
    opacity: 1;
    visibility: visible;
  }
  nav .wrapper .nav-links .drop-menu {
    position: absolute;
    background: #262a33;
    width: 180px;
    line-height: 45px;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  nav .wrapper .btn {
    display: block;
    margin-left: -50px;
    margin-top: 20px;
    font-size: 25px;
  }
  nav .wrapper .btn .fa-times {
    color: #fff;
    margin-left: 290px;
    margin-top: 0;
    font-size: 20px;
  }
  nav .wrapper .nav-links .nav-bottom ul {
    display: none;
  }
  .mega-box .row .header {
    margin-left: 15px;
  }
  .mega-links {
    display: none;
  }
  .row ul li:hover .mega-links {
    display: block;
  }
  .row ul li:hover .mega-links ul {
    display: block;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn {
    display: block;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box {
    max-height: 100%;
  }
  .body-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }
  .body-text div {
    font-size: 45px;
    font-weight: 600;
  }
}

/* Footer */
.sticky-footer {
  position: -webkit-sticky;
  position: sticky;
  top: 100%;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: white;
  padding: 70px 0;
  margin-top: auto;
}

.footer-col {
  width: 15%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 14px;
  color: #262a33;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 14px;
  color: #8a8a8a;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #b3b3b3;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.footer-col .fa-sort-down {
  display: none;
}

/*responsive*/
@media (max-width: 574px) {
  .footer {
    padding: 20px 0;
  }
  .footer-col {
    width: 100%;
    position: relative;
  }
  .footer-col .fa-sort-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 50px;
  }
  .footer-col ul li {
    list-style: none;
  }
  .dropdown-menu {
    display: none;
  }
  .footer-col ul li:hover .dropdown-menu {
    top: 100%;
    display: block;
    margin-bottom: 5px;
  }
  .footer-col ul li:hover .dropdown-menu ul {
    display: block;
  }
  .social-links {
    text-align: center;
  }
}

.top-carusel {
  padding-top: 85px;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25vh;
}

.img-slider {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 800px;
  height: 460px;
  margin: 10px;
  background: #1D212B;
  border-radius: 10px;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: cover;
  height: cover;
  -webkit-clip-path: circle(0% at 0 50%);
          clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  -webkit-clip-path: circle(150% at 0 50%);
          clip-path: circle(150% at 0 50%);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-property: -webkit-clip-path;
  transition-property: -webkit-clip-path;
  transition-property: clip-path;
  transition-property: clip-path, -webkit-clip-path;
}

.img-slider .slide img {
  z-index: 1;
  width: 800px;
  height: 460px;
  border-radius: 5px;
}

.img-slider .slide .info {
  position: absolute;
  top: 40px;
  padding: 15px 30px;
}

.img-slider .slide .info h2 {
  color: #fff;
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 2px;
}

.img-slider .slide .info p {
  color: #fff;
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
  margin-top: 50px;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.img-slider .navigation .slide-dot {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #2696E9;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.btns a {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #a2a09e;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 150px;
}

.top-carusel .right-sight .facebook .btns a {
  text-decoration: none;
  border: 2px solid #3a5b96;
  color: #3a5b96;
  font-size: 14px;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.top-carusel .green-cont {
  background: #6b9205;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  height: 335px;
  border-radius: 10px;
  background-image: url(../public/palmier.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  text-align: center;
}

.top-carusel .right-sight {
  margin-top: 10px;
  margin-left: 15px;
  position: relative;
  width: 270px;
  height: 325px;
  background: #fff;
}

.top-carusel .right-sight .green-cont h1 {
  font-size: 80px;
  font-weight: 800;
  color: white;
  margin-top: 35px;
}

.top-carusel .right-sight .green-cont h2 {
  margin-top: 50px;
  font-size: 25px;
  color: white;
}

.top-carusel .right-sight .facebook {
  display: -ms-grid;
  display: grid;
  text-align: center;
}

.top-carusel .right-sight .facebook h3 {
  font-size: 17px;
  color: #45413e;
  line-height: 7px;
  padding: 15px 15px;
}

.top-carusel .right-sight .facebook h4 {
  font-size: 13px;
  color: #45413e;
}

.top-carusel .right-sight .btns {
  margin: 10px;
}

@media (max-width: 350px) {
  .top-carusel {
    padding: 1px;
    width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 1px;
  }
  .top-carusel .img-slider {
    width: 320px;
  }
  .top-carusel .img-slider .slide.active {
    width: 300px;
  }
  .top-carusel .img-slider .slide.active .info {
    text-align: left;
    padding: 0 5px;
  }
  .top-carusel .img-slider .slide.active .info h2 {
    font-size: 28px;
  }
  .top-carusel .img-slider .slide.active .info p {
    margin-top: 15px;
  }
  .top-carusel .img-slider .slide.active .info .btns {
    text-align: center;
  }
  .top-carusel .img-slider .slide.active img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
  }
  .top-carusel .right-sight {
    margin-bottom: 130px;
    margin-left: 30px;
  }
}

.cards {
  background: #262a32;
  margin-left: 17vh;
  margin-top: 15px;
  max-width: 1245px;
  padding: 15px;
}

.content-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  display: flex;
}

.title {
  position: relative;
  padding: 20px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}

.shows {
  display: none;
  margin: 0;
  position: relative;
}

.shows .overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(7, 224, 134, 0.644);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.shows .overlay-content .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  padding: 15px;
}

.shows .overlay-content .plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #23c46e;
  padding: 10px;
  border-radius: 50%;
  border-color: #fff;
}

.shows .overlay-content .love {
  margin-left: 20px;
  padding: 10px;
  color: #e73c68;
  border-radius: 50%;
  border-color: #fff;
}

.shows .overlay-content > * {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.shows .overlay-content:hover > * {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.shows .overlay-content:hover {
  opacity: 1;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 80px;
      -ms-flex: 80px 0 150px;
          flex: 80px 0 150px;
  max-width: 250px;
  min-width: 250px;
  max-height: 350px;
  min-height: 350px;
  overflow: hidden;
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  -webkit-box-shadow: 3px 2px 14px rgba(255, 255, 255, 0.2);
          box-shadow: 3px 2px 14px rgba(255, 255, 255, 0.2);
  text-decoration: none;
  font-size: 1rem;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.card:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 2px 3px 18px rgba(255, 255, 255, 0.4);
          box-shadow: 2px 3px 18px rgba(255, 255, 255, 0.4);
}

.card__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 1rem;
}

.card__title {
  font-size: 17px;
  margin-bottom: 0.5rem;
  text-align: center;
  color: #45413e;
}

.card__readmore {
  text-align: center;
  margin-top: auto;
  font-size: 17px;
}

.cards .btn {
  padding: 25px;
  line-height: 15px;
  font-size: 17px;
  text-align: center;
  background: #262a32;
  border-radius: 25px;
  border: 2px solid #e8e8e8;
  width: 15rem;
  color: #ffffff;
  padding: 13px;
}

.cards .title h2::after {
  content: "";
  position: absolute;
  margin: auto;
  height: 2px;
  background: #3a3e45;
  width: 39%;
  top: 50%;
  left: 0;
}

.cards .title h2::before {
  content: "";
  position: absolute;
  margin: auto;
  height: 2px;
  background: #3a3e45;
  width: 39%;
  top: 50%;
  right: 0;
}

span {
  background: #fff;
}

@media (max-width: 820px) {
  .cards {
    background: #262a32;
    margin-left: 1px;
    margin-top: 15px;
    max-width: 310px;
    padding: 15px;
  }
  .cards .title {
    font-size: 15px;
  }
  .cards .title h2::after {
    content: "";
    position: absolute;
    margin: auto;
    height: 2px;
    background: #3a3e45;
    width: 25%;
    top: 50%;
    left: 0;
  }
  .cards .title h2::before {
    content: "";
    position: absolute;
    margin: auto;
    height: 2px;
    background: #3a3e45;
    width: 25%;
    top: 50%;
    right: 0;
  }
}

.banner-area {
  max-width: 1275px;
  margin-left: 17vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 445px;
  position: relative;
  background-image: url(../public/banner.png);
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.banner-area h1 {
  color: #fff;
  font-size: 45px;
  margin-top: 10rem;
}

.banner-area h2 {
  color: #fff;
  font-size: 14px;
  padding: 3rem;
  font-weight: normal;
}

@media (max-width: 350px) {
  .banner-area {
    width: 340px;
    margin-left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    height: 240px;
  }
  .banner-area h1 {
    margin-top: 25px;
    text-align: center;
    font-size: 34px;
  }
}

.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  padding: 15px;
  max-width: 1245px;
  display: flex;
  margin-left: 17vh;
  background: #262a32;
}

.title-featured {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.text-title p {
  color: #fff;
  font-size: 17px;
}

.text-title .slide-bar {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.text-title .slide-bar h2::after {
  content: "";
  position: absolute;
  margin: auto;
  height: 2px;
  background: #fff;
  width: 25%;
  left: 15%;
  margin-top: 20px;
}

.text-title .slide-bar h2::before {
  content: "";
  position: absolute;
  margin: auto;
  height: 2px;
  background: #fff;
  width: 25%;
  right: 20%;
  margin-top: 20px;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 1500px;
  margin: auto;
  padding: 0 60px;
}

.carousel .card {
  border-radius: 5px;
}

.card__green {
  color: #84bc22;
  text-align: center;
}

.owl-prev,
.owl-next {
  position: relative;
  top: 51%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.owl-prev {
  left: 70px;
  top: -24.3rem;
}

.owl-next {
  right: -138vh;
  top: -24.3rem;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 30px;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
  color: #777;
}

@media (max-width: 350px) {
  .featured {
    margin-left: 1px;
    max-width: 320px;
  }
  .featured .owl-carousel {
    width: 300px;
  }
  .featured .owl-carousel .owl-stage-outer {
    gap: 20px;
  }
  .featured .owl-carousel .owl-stage-outer .owl-item {
    gap: 20px;
    width: 100px;
  }
  .featured .owl-carousel .owl-stage-outer .owl-item .cloned {
    width: 100px;
    gap: 20px;
  }
  .owl-prev {
    left: 15px;
    top: -24.3rem;
  }
  .owl-next {
    right: -40vh;
    top: -24.3rem;
  }
}

#error-page {
  position: absolute;
  top: 10%;
  left: 5%;
  right: 15%;
  bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f2edea;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 4;
  width: 100%;
}

#error-page .content {
  width: 1280px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  border-radius: 10px;
}

.footer {
  width: 100%;
  height: 50%;
}

.left {
  background-image: url(/public/exclamation.png);
  padding: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
}

.content .left h2 {
  font-size: 90px;
  position: relative;
  color: #a1cc55;
  margin-top: 16vh;
  font-weight: 900;
}

.content .right h4 {
  font-size: 14px;
  margin-bottom: 22px;
  font-weight: 850;
  color: #000;
  font-size: 22px;
  max-width: 700px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 10px 25px;
  margin-top: 50px;
}

.content p {
  font-size: 17px;
  color: #555555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 10px 25px;
  text-align: left;
}

.content .btns {
  margin: 25px 0;
}

.content .btns a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  border: 2px solid #e8e8e8;
  color: black;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 600px;
}

.content .fis a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-decoration: none;
  margin-top: 40px;
  color: #a1cc55;
  font-weight: 500;
  padding: 10px 25px;
}

.content .right i {
  margin-left: 520px;
}

.overlay {
  position: absolute;
  display: none;
  /* color with alpha transparency */
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
  /* stretch to screen edges */
  top: 0;
  left: 0;
  bottom: -1280px;
  right: 0;
}

p {
  margin: 24px 0;
  line-height: 2;
}

.cookie-container {
  visibility: hidden;
  position: absolute;
  background: #fff;
  color: #141414;
  padding: 0 32px;
  -webkit-box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
          box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
  width: 1100px;
  -webkit-transition: 400ms;
  transition: 400ms;
  border-radius: 10px;
  margin-left: 22vh;
  z-index: 4;
}

.cookie-container.active {
  visibility: visible;
  bottom: 50px;
}

.cookie-container h1 {
  margin-bottom: 20px;
  color: #84bc22;
  font-size: 18px;
}

.cookie-container p {
  font-size: 14px;
  color: #141414;
  margin: 0;
}

.cookie-container a {
  font-size: 14px;
  color: #84bc22;
}

.cookie-container .cookie-btn {
  background: #84bc22;
  border-radius: 25px;
  border: 0;
  color: #f5f6fa;
  padding: 12px 48px;
  margin-bottom: 10px;
  margin-left: 115vh;
}

.cookie-container .close-btns {
  background: #fff;
  border-radius: none;
  border: #fff;
  font-size: 25px;
  margin-left: 130vh;
}

@media (max-width: 350px) {
  .cookie-container .close-btns {
    margin-left: 40vh;
  }
  .cookie-container {
    margin-left: 7px;
    width: 300px;
    padding: 5px;
    text-align: center;
  }
  .cookie-container .cookie-btn {
    margin-left: 0;
  }
}

.login {
  width: 450px;
  display: none;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  margin-left: 35%;
  position: relative;
  bottom: 140rem;
  z-index: 4;
}

.login .sign-txt {
  padding-bottom: 25px;
}

.login.active {
  visibility: hidden;
}

.login header {
  padding-top: 25px;
  font-size: 35px;
  font-weight: 600;
}

.login form {
  margin: 40px 0;
}

form .field {
  width: 55%;
  margin-bottom: 20px;
  margin-left: 35px;
}

form .field.shake {
  -webkit-animation: shake 0.3s ease-in-out;
          animation: shake 0.3s ease-in-out;
}

@-webkit-keyframes shake {
  0%, 100% {
    margin-left: 0px;
  }
  20%, 80% {
    margin-left: -12px;
  }
  40%, 60% {
    margin-left: 12px;
  }
}

@keyframes shake {
  0%, 100% {
    margin-left: 0px;
  }
  20%, 80% {
    margin-left: -12px;
  }
  40%, 60% {
    margin-left: 12px;
  }
}

form .field .input-area {
  height: 50px;
  width: 100%;
  position: relative;
}

form input {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 45px;
  font-size: 18px;
  background: none;
  caret-color: #5372F0;
  border-radius: 25px;
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

form .field input:focus,
form .field.valid input {
  border-color: #bdbdbd;
}

form .field.shake input,
form .field.error input {
  border-color: #dc3545;
}

.field .input-area i {
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.input-area .icon {
  left: 15px;
  color: #bfbfbf;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.input-area .error-icon {
  right: 15px;
  color: #dc3545;
}

form input:focus ~ .icon,
form .field.valid .icon {
  color: #84bc22;
}

form .field.shake input:focus ~ .icon,
form .field.error input:focus ~ .icon {
  color: #bfbfbf;
}

form input::-webkit-input-placeholder {
  color: #bfbfbf;
  font-size: 17px;
}

form input:-ms-input-placeholder {
  color: #bfbfbf;
  font-size: 17px;
}

form input::-ms-input-placeholder {
  color: #bfbfbf;
  font-size: 17px;
}

form input::placeholder {
  color: #bfbfbf;
  font-size: 17px;
}

form .field .error-txt {
  color: #dc3545;
  text-align: left;
  margin-top: 5px;
}

form .field .error {
  display: none;
}

form .field.shake .error,
form .field.error .error {
  display: block;
}

form .pass-txt {
  text-align: right;
  margin-top: -10px;
  font-size: 14px;
  margin-right: 10px;
}

.login a {
  color: #84bc22;
  text-decoration: none;
  font-size: 14px;
  padding: 15px;
}

.login .sign-txt a {
  margin-bottom: 20px;
}

.login a:hover {
  text-decoration: underline;
}

form input[type="submit"] {
  height: 50px;
  width: 50%;
  margin-top: 30px;
  color: #fff;
  padding: 0;
  border: none;
  background: #84bc22;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

form input[type="submit"]:hover {
  background: #84bc28;
}

.eye {
  color: #bfbfbf;
}

@media (max-width: 350px) {
  .login {
    width: 300px;
    margin-left: 10px;
    top: -300rem;
  }
}

.benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #45413e;
  width: 1265px;
  height: 150px;
  margin-left: 17vh;
  padding: 5px;
}

.rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.rows h1 {
  color: #ffff;
  font-size: 19px;
  margin-bottom: 35px;
  text-align: center;
}

.rows h2 {
  color: #868380;
  font-size: 12px;
  text-align: center;
}

.icon-benefit {
  color: #84bc22;
  font-size: 50px;
  padding: 10px;
}

@media (max-width: 350px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 330px;
    margin-left: 1px;
    height: 550px;
  }
  .benefit .rows .icon-benefit {
    padding: 55px;
  }
  .benefit .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .benefit .second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .benefit .third {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
/*# sourceMappingURL=style.css.map */