
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}


body{
	line-height: 1.5;
	font-family: 'LatoWebLight',Arial;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
	flex-grow: 1;
}




