@import "../global/settings";

.container .row .footer-col .long {
  column-count: 3;
  column-fill: auto;
  margin-right: 50px;
  width: 220px;
}

.container {
  max-width: 1280px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: white;
  padding: 70px 0;
  margin-top: auto;
}
.footer-col {
  width: 15%;
  padding: 0 45px;
  column-fill: auto;
}
.footer-col h4 {
  font-size: 14px;
  color: #262a33;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 14px;

  color: #8a8a8a;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: $white;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #b3b3b3;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: $white;
}
.footer-col .fa-sort-down {
  display: none;
}

/*responsive*/

@media (max-width: 768px) {
  .footer {
    padding: 20px 0 60px 0;
  }
  .footer-col {
    width: 100%;
    position: relative;
    h4 {
      margin-bottom: 0;
      padding: 5px;
      display: flex;
    }

    .footer-copyright {
      margin-bottom: 20px;
    }

    .fa-sort-down {
      display: flex;
      flex-direction: column;
      margin-left: 5px;
      color: #b3b3b3;
    }
    ul li {
      list-style: none;
    }
  }
  .dropdown-menu {
    display: none;
  }
  .footer-col ul li:hover .dropdown-menu {
    top: 100%;
    display: block;
    margin-bottom: 5px;
  }
  .footer-col ul li:hover .dropdown-menu ul {
    display: block;
  }
  .social-links {
    text-align: center;
  }
}
