@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100&display=swap");
@import "../global/mixins";

* {
  margin: 0 auto;
  padding: 0;
  font-family: "Lato", sans-serif;
}

// Mobile first

nav {
  flex: 0 0 100%;
  width: 100%;
  background: #ffff;
  border-bottom: 2px solid #e8e2d6;
  //position: fixed;

  @include breakpoint("md") {
    
    z-index: 20;
    height: 75px;
  }

  .fa-sort-down {
    @include breakpoint("md") {
      text-align: center;
      margin-left: 10px;
      color: #b3b3b3;
    }
  }

  input {
    display: none;
  }

  .wrapper {
    position: relative;
    width: 100%;
    padding: auto;
    line-height: 25px;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    z-index: 2;

    @include breakpoint("md") {
      align-items: center;
      justify-content: space-between;
    }

    .btn.close-btn {
      @include breakpoint("md") {
        position: absolute;
        right: 30px;
        top: 10px;
        color: #ffffff;
      }
    }

    .logo-top {
      cursor: pointer;
      display: flex;
      line-height: 1.3;

      @include breakpoint("md") {
        padding: 10px 20px;
        margin-left: 0;
      }

      .logo {
        flex-wrap: wrap;
        visibility: hidden;
        margin: 0;

        @include breakpoint("md") {
          visibility: visible;
        }

        .logo1 a {
          color: #262a32;
          font-size: 30px;
          font-weight: bold;
          text-decoration: none;
        }

        .logo2 a {
          color: #84bc22;
          font-size: 14px;
          font-weight: 400;
          text-decoration: none;
        }
      }

      .img-logo {
        border-radius: 50%;
        margin: 0;
      }
    }

    .nav-links {
      position: fixed;
      top: 65px;
      left: 0;
      background: #262a33;
      box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
      display: none;
      overflow-y: auto;
      padding: 5px;
      transition: all 0.3s ease;
      z-index: 3;
      height: 80vh;
      width: 100%;
      flex-direction: column;

      @include breakpoint("md") {
        position: relative;
        flex-direction: row;
        top: 0;
        left: 0;
        background: transparent;
        box-shadow: unset;
        overflow-y: unset;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: auto;
        width: auto;
      }

      &.mobile-nav-active {
        display: block;
        
      }

      .grey {
        color: #bdbdbd;
      }

      .drop {
        display: none;
        border: #fff;
        background: #262a33;
        padding: 15px;
        justify-content: center;
        text-align: center;
        width:45px;
        

      }
      li{
        &:hover .drop{
          display: block;
          position: absolute;
          color: #fff;
        }
      }



      .nav-bottom ul {
        display:none;

        @include breakpoint("md") {
          display: inline-flex;
        }
      }

      .desktop-item {
        display: none;
      }

      .mobile-item {
        display: block;
        color: #f2f2f2;
        font-size: 20px;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;

        @include breakpoint("md") {
          display: none;
        }
      }

      li {
        margin: 15px 10px;
        list-style: none;
        color: #fff;

        @include breakpoint("md") {
          margin: 0;
          color: #fff;

          &:hover .drop-menu,
          &:hover .mega-box {
            top: 70px;
            opacity: 1;
            visibility: visible;
            display: flex;
            flex-direction: row;

            i {
              display: none;
            }
          }
        }

        a {
          display: block;
          color: #fff;
          text-decoration: none;
          font-size: 13px;
          padding: 10px 0;
          transition: all 0.3s ease;
          border-bottom: 7px solid transparent;

          &:hover {
            background: #262a32;
            border-bottom:none;
            color:#84bc22 ;
            
            @include breakpoint("md"){
              color: #fff;
              border-bottom: 7px solid #a1cc55;

            }
          }

          @include breakpoint("md") {
            color: black;
            padding: 20px 15px;
          }
        }
      }

      .drop-menu {
        position: static;
        opacity: 1;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease;

        // position: absolute;
        // background: #262a33;
        // width: 180px;
        // line-height: 25px;
        // top: 90px;
        // opacity: 0;
        // visibility: hidden;
        // box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);

        @include breakpoint("md") {
          position: absolute;
          top: 85px;
          background: #262a33;
          width: 180px;
          line-height: 25px;
          opacity: 0;
          visibility: visible;
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
        }
        // &:hover {
        //   @include breakpoint("md") {
        //     transition: all 0.3s ease;
        //     top: 70px;
        //     opacity: 1;
        //     visibility: visible;

        //   }
        // }
        li {
          // border-bottom: rgb(226, 22, 39);

          a {
            @include breakpoint("md") {
              width: 100%;
              display: block;
            }
          }
        }
      }

      .mega-box {
        top: 55px;
        opacity: 1;
        background: #262a33;
        display: none;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
        

        @include breakpoint("md") {
          
          position: fixed;
          left: 0;
          opacity: 0;
          display: none;
          justify-content: center;
        }

        // &:hover {
        //   @include breakpoint("md") {
        //     transition: all 0.3s ease;
        //     top: 70px;
        //     opacity: 1;
        //     visibility: visible;
        //     border-bottom: none;

        //   }
        // }

        .img-cast {
          width: 90%;
          border-radius: 10px;
          margin-bottom: 15px;

          @include breakpoint("md") {
            margin-top: 50px;
            height: auto;
          }
        }

        .row {
          margin-bottom: 15px;
          display: flex;
          text-align: left;

          li {
            a {
              padding: 5px;
              color: #fff;
              font-size: 17px;
              display: block;
              border-bottom: none;

              &:hover {
                color: #84bc22;
              }
            }
          }

          @include breakpoint("md") {
            margin-top: 0;
            text-align: center;

            .row-mega-links-trigger {
              column-count: 3;
              column-fill: auto;
            }
            header {
              font-size: 17px;
              color: #fff;
            }
          }
          .first-row{
            margin: 0;
          }
          
          .mega-links{

            display: none;
            @include breakpoint("md") {
              display: block;
            }
          }

          ul li{
            &:hover .mega-links{
              display: block;
            }
          }


          .header {
            margin-left: 15px;

            @include breakpoint("md") {
              color: #ffffff;
              font-size: 16px;
              display: flex;
              justify-content: center;
              margin-bottom: 0px;
            }
          }
        }
      } 
      li {
        &:hover .mega-box{
          display: block;
        }
      }
    }
    .btn {
      display: block;
      margin-top: 20px;
      font-size: 25px;

      @include breakpoint("md") {
        color: #262a33;
        font-size: 20px;
        cursor: pointer;
        display: none;
      }

      .fa-times {
        color: #fff;
        margin-left: 275px;
        margin-top: 0;
        font-size: 20px;
      }
    }
  }
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #242526;
}
::-webkit-scrollbar-thumb {
  background: #87898a;
}
#menu-btn:checked ~ .nav-links {
  left: 0;
}
#menu-btn:checked ~ .btn.menu-btn {
  display: none;
}
#close-btn:checked ~ .btn.menu-btn {
  display: block;
}

#showDrop:checked ~ .drop-menu,
#showMega:checked ~ .mega-box {
  max-height: 100%;
  margin: 0;
}

.body-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div {
  font-size: 45px;
  font-weight: 600;
}
