nav{
    flex:0 0 100%;
    max-width: 100%;
    background: #ffff;
    position: relative;

    .wrapper{
        position: relative;
        max-width: 1280px;
        padding: auto;
        line-height: 70px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;

        .logo-top {
            cursor: pointer;
            padding: 15px;
            display: flex;
            line-height: 1.3;
            .img-logo {
                border-radius: 50px;
            }
                .logo {
                    flex-wrap: wrap;
                    .logo1 a {
                        color: #262a32;
                        font-size: 30px;
                        font-weight:780;
                        text-decoration: none;
                        
                    } 
                    .logo2 a {
                        color: #84bc22;
                        font-size: 14px;
                        font-weight: 350;
                        text-decoration: none;
                    }
                }
            
        }
        .nav-links{
            display: inline-flex;
            margin-right:10rem;
            li{
a{
                    color: #45413e;
                    text-decoration: none;
                    font-size: 13px;
                    font-weight: 540;
                    padding: 9px 15px;
                    transition: all 0.3s ease;
                    :hover{
                        background: #262a32;
                        border-bottom:7px solid #a1cc55 ;
                      }
                  }
            
              .mega-box{
                position: absolute;
                left: 0;
                width: 100%;
                padding: 0 30px;
                top: 85px;
                opacity: 0;
                visibility: hidden;
                .content{
                    background: #262a33;
                    padding: 25px 20px;
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
                    .row{
                        width: calc(25% - 30px);
                        line-height: 45px;
                         .header{
                            color: #ffffff;
                            font-size: 16px;
                            font-weight: 500;
                            display: flex;
                            justify-content: center;
                          }
                          .mega-links{
                            position: absolute;
                             left: 0;
                            width: 100%;
                             padding: 0 30px;
                            top: 85px;
                             opacity: 0;
                             visibility: hidden;
                          li{
                            padding: 0 20px;
                            text-align: center;
                            a{
                                padding: 0px;
                                padding: 0 20px;
                                color: #ffffff;
                                font-size: 14px;
                                display: block;
                                border-bottom: none;
                                :hover{
                                    color: white;
                                  }
                                
                              }
                          }
                        }
                    }
                      }
                  }
                  .mobile-item{
                    display: none;
                  }
              }
              
                .grey {
                    color: #bdbdbd;
                }
                .btn{
                    color: #262a33;
                    font-size: 20px;
                    cursor: pointer;
                    display: none;
                    .close-btn{
                        position: absolute;
                        right: 30px;
                        top: 10px;
                        color: #ffffff;
                      }
                    } 
                    .drop-menu{
    
                        position: absolute;
                        background: #262a33;;
                        width: 180px;
                        line-height: 45px;
                        top: 85px;
                        opacity: 0;
                        visibility: hidden;
                        box-shadow: 0 6px 10px rgba(0,0,0,0.15);
                        li:hover{
                            transition: all 0.3s ease;
                            top: 70px;
                             opacity: 1;
                            visibility: visible;
                        }
                        li a{
                            width: 100%;
                            display: block;
                            padding: 0 0 0 15px;
                            font-weight: 400;
                          }
                      }
            }
            
            .img-cast {
                border-radius: 10px;
                margin-top: 50px;
            width:23%;
            height:23%;
        }
      }
  } 


  



