@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
@media  (min-width: 1000px){
  
  nav{
    flex:0 0 100%;
    max-width: 100%;
    width: 1500px;
    background: #ffff;
    position: fixed;
    z-index: 20;
    border-bottom:px solid #e8e2d6;
    height: 75px;
    .fa-sort-down{
      text-align: center;
      margin-left: 10px;
      color:  #b3b3b3;
    }
    input{
      display: none;
    }
    .wrapper{
        position: relative;
        padding: auto;
        margin-left: 17vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;
        .btn.close-btn{
          position: absolute;
          right: 30px;
          top: 10px;
          color: #ffffff;
        }
        .logo-top {
            cursor: pointer;
          padding-top: 5px;
          display: flex;
          line-height: 1.3;
          .logo {
              flex-wrap: wrap;
               .logo1 a {
                  color: #262a32;
                  font-size: 30px;
                  font-weight:780;
                  text-decoration: none;
              }
               .logo2 a {
                  color: #84bc22;
                  font-size: 14px;
                  font-weight: 350;
                  text-decoration: none;
              }
            }
          .img-logo {
                border-radius: 50px;
            }
      }
       .nav-links{
        display: inline-flex;
        margin-right:10rem;
         li{
          list-style: none;
           a{
            color: #45413e;
            text-decoration: none;
            font-size: 13px;
            font-weight: 540;
            padding: 20px 15px;
            transition: all 0.3s ease;
          }
        }
        
      }
    }
    
   .img-cast {
      border-radius: 10px;
      margin-top: 50px;
      width:23%;
      height:23%;
  }
  .wrapper .grey {
      color: #bdbdbd;
  }
  
  .nav-links li  a:hover{
    background: #262a32;
    border-bottom:7px solid #a1cc55 ;
  }
  .nav-links .mobile-item{
    display: none;
  }
  .nav-links .drop-menu{
    
    position: absolute;
    background: #262a33;;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  .nav-links li:hover .drop-menu,
  .nav-links li:hover .mega-box{
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  .drop-menu li a{
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
  }
  .mega-box{
    position: absolute;
    left: 0;
    width: 100%;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    width: 1200px;
    background: #262a33;
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    .row{
      width: calc(25% - 30px);
      line-height: 45px;
      i {
        display: none;
      }
    }
  }
  
  .mega-box .row header{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
  }
  
  .row .mega-links li{
    padding: 0 20px;
    text-align: center;
  }
  .row .mega-links li a{
    padding: 0px;
    padding: 0 20px;
    color: #ffffff;
    font-size: 14px;
    display: block;
    border-bottom: none;
  }
  .row .mega-links li a:hover{
    color: white;
  }
  .wrapper .btn{
    color: #262a33;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
}
.wrapper .nav-links .nav-bottom ul {
  display: inline-flex;
 
}


}


@media ( max-width:500px) {

nav{
  flex:0 0 100%;
    max-width: 100%;
    background: #ffff;
   
    border-bottom:1px solid #e8e2d6;
    input{
      display: none;
    }
  .wrapper{
        max-width: 320px;
        padding: auto;
        line-height: 25px;
        margin: 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        z-index: 2;
        
    .logo-top{
      cursor: pointer;
      display: flex;
      line-height: 1.3;
    
      .logo{
        flex-wrap: wrap;
        visibility: hidden;
        .logo1 a {
          color: #262a32;
          font-size: 30px;
          font-weight:780;
          text-decoration: none;
      }
       .logo2 a {
          color: #84bc22;
          font-size: 14px;
          font-weight: 350;
          text-decoration: none;
      }
      }
      .img-logo{
        border-radius: 50%;
      }
    }
    .nav-links{
      position: fixed;
      height: 80vh;
      width: 100%;
      max-width: 320px;
      top: 65px;
      left: -100%;
      background:#262a33;
      display: block;
      padding: 5px;
      
      overflow-y: auto;
      box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
      transition: all 0.3s ease;
      z-index: 3;
      
      .desktop-item{
        display: none;}
      .mobile-item{
        display: block;
        color: #f2f2f2;
        font-size: 20px;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
      }
      li{
        margin: 15px 10px;
        list-style: none;
        color:#fff;
        a{
          display: block;
          color: #fff;
          text-decoration: none;
          font-size: 13px;
          font-weight: 540;
          padding: 10px 0;
          transition: all 0.3s ease;
        }
      }
      .drop-menu{
      position: static;
      opacity: 1;
      top: 65px;
      visibility: visible;
      padding-left: 20px;
      width: 100%;
      max-height: 0px;
      overflow: hidden;
      box-shadow: none;
      transition: all 0.3s ease;
      }
    .mega-box{
      position: absolute;
      width: 100%;
      top: 85px;
      opacity: 1;
      visibility: hidden;
        background: #262a33;
        padding: 20px 20px 0 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        box-shadow: 0 6px 10px rgba(0,0,0,0.15);
        
          .img-cast{
            width: 75%;
            border-radius: 10px;
            margin-bottom: 15px;
          }
      .first-row{
          display: contents;
          
        header{
          color: #fff;
          font-size: 17px;
         
        }
        .row{
          width: 100%;
          margin-bottom: 15px;
          border-top: 1px solid rgba(255,255,255,0.08);
          display: none;
          text-align: left;
        }
      }
    }
     li:hover .drop-menu,
     li:hover .mega-box{
    transition: all 0.3s ease;
    top: 0;
    opacity: 1;
    visibility: visible;
  }
    .drop-menu{
      position: absolute;
      background: #262a33;;
      width: 180px;
      line-height: 45px;
      top: 90px;
      opacity: 0;
      visibility: hidden;
      box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    }
    
    }
    .btn{
       display: block;
       margin-left: -50px;
       margin-top: 20px;
       font-size: 25px;
      .fa-times{
        color: #fff;
        margin-left: 290px;
        margin-top: 0;
        font-size: 20px;
      }
    } 

  }
  .wrapper .nav-links .nav-bottom ul {
    display: none;
   
  }
}
.mega-box .row  .header {
  margin-left: 15px;
}
.mega-links{
  display: none;
}
.row ul li:hover .mega-links{
  display: block;
}
.row ul li:hover .mega-links ul{
  display: block;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #242526;
}
::-webkit-scrollbar-thumb {
  background: #3A3B3C;
}
#menu-btn:checked ~ .nav-links{
  left: 0%;
}
#menu-btn:checked ~ .btn.menu-btn{
  display: none;
}
#close-btn:checked ~ .btn.menu-btn{
  display: block;
}

#showDrop:checked ~ .drop-menu,
    #showMega:checked ~ .mega-box{
      max-height: 100%;
    }


    .body-text{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      padding: 0 30px;
    }
    .body-text div{
      font-size: 45px;
      font-weight: 600;
    }

   
}