<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSF Academy</title>

    <link rel="stylesheet" href="/scss/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>
    <div class="container container-pdp">
        <!--Navbar-->
        <div class="row">
            <div class="column sm-12">
                <nav>
                    <div class="wrapper">
                        <div class="row">
                            <div class="column sm-3 md-6 lg-3">
                                <div class="logo-top">
                                    <img class="img-logo" src="/public/logo.png" alt="">
                                    <div class="logo">
                                        <div class="logo1"><a href="/index.html">OSF</a></div>
                                        <div class="logo2"><a href="/index.html">Academy</a></div>
                                    </div>
                                </div>
                            </div>

                            <input type="radio" name="slider" id="menu-btn">
                            <input type="radio" name="slider" id="close-btn">

                            <div class="column sm-12 md-6 lg-9">
                                <ul class="nav-links">
                                    <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
                                    <li>
                                        <a href="#" class="itema">SERVICES<i class="fas fa-sort-down"></i></a>
                                        <div class="mega-box">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="columns sm-12 lg-7 first-row">

                                                        <ul>
                                                            <li class="row-mega-links-trigger"> <a href="#"
                                                                    class="itema">
                                                                    <header>Product Categories<i
                                                                            class="fas fa-sort-down"></i></header>
                                                                </a>
                                                                <ul class="mega-links">
                                                                    <li><a href="/components/404.html">Accesories</a>
                                                                    </li>
                                                                    <li><a href="/components/404.html">Alcohol</a></li>
                                                                    <li><a href="/components/404.html">art</a></li>
                                                                    <li><a href="/components/404.html">Books</a></li>
                                                                    <li><a href="#">Drink</a></li>
                                                                    <li><a href="#">Electronics</a></li>
                                                                    <li><a href="#">Flowers & Plants</a></li>
                                                                    <li><a href="#">Food</a></li>

                                                                    <li><a href="#">Gadgets</a></li>
                                                                    <li><a href="#">Garden</a></li>
                                                                    <li><a href="#">Grocery</a></li>
                                                                    <li><a href="#">Home</a></li>
                                                                    <li><a href="#">Jewelry</a></li>
                                                                    <li><a href="#">Kids & Baby</a></li>
                                                                    <li><a href="#">Men's Fashion</a></li>
                                                                    <li><a href="#">Mobile</a></li>

                                                                    <li><a href="#">Motorcycle</a></li>
                                                                    <li><a href="#">Movies</a></li>
                                                                    <li><a href="#">Music</a></li>
                                                                    <li><a href="#">Office</a></li>
                                                                    <li><a href="#">Pets</a></li>
                                                                    <li><a href="#">Romantic</a></li>
                                                                    <li><a href="#">Sport</a></li>
                                                                    <li><a href="#">Toys</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="column sm-12 lg-2">
                                                        <ul>
                                                            <li>
                                                                <header>Sale<i class="fas fa-sort-down"></i></header>
                                                                <ul class="mega-links">
                                                                    <li><a href="#">Accesories</a></li>
                                                                    <li><a href="#">Alcohol</a></li>
                                                                    <li><a href="#">art</a></li>
                                                                    <li><a href="#">Books</a></li>
                                                                    <li><a href="#">Drink</a></li>
                                                                    <li><a href="#">Electronics</a></li>
                                                                    <li><a href="#">Flowers & Plants</a></li>
                                                                    <li><a href="#">Food</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="column sm-12 lg-3">
                                                        <img class="img-cast" src="public/cast.png" alt="">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="/components/clp.html" class="open">COMPANY</a></li>
                                    <li><a href="#">LIBRARY</a></li>
                                    <li><a href="#">CONTACT US</a></li>
                                    <li><a class="grey" href="#">EN<i class="fas fa-sort-down"></i></a>
                                        <ul class="drop">
                                            <li>EN</li>
                                            <li>FR</li>
                                            <li>UN</li>
                                            <li>RO</li>
                                        </ul>
                                    </li>
                                    <li><a class="grey " href="#">$US<i class="fas fa-sort-down"></i></a>
                                        <ul class="drop">
                                            <li>$US</li>
                                            <li>EUR</li>
                                            <li>UAH</li>

                                        </ul>
                                    </li>
                                    <div class="nav-bottom">
                                        <ul>
                                            <li><a class="grey" href="/contact"><i class="fas fa-search"></i></a></li>
                                            <li><a class="grey" href="/contact" id="contact" onclick="toggle()"><i
                                                        class="far fa-user"></i></a></li>
                                            <li><a class="grey" href="/contact"><i class="far fa-heart"></i></a></li>
                                            <li><a class="grey" href="/con" id="con" onclick="toggle()"><i
                                                        class="fas fa-shopping-bag"></i></a></li>
                                        </ul>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
                    </div>
                </nav>
            </div>
        </div>


        <!--Product Detail-->

        <div class="row card-wrapper">
            <div class="row breds">
                <div class="breadcrumbs column sm-12">
                    <ul>
                        <li><a href="/index.html">
                                <p>Home</p>
                            </a></li>
                        <li><a href="/index.html">
                                <p>OSF Theme</p>
                            </a></li>
                        <li><a class="active">
                                <p>Ruffle Front V-Neck Cardigan</p>
                            </a></li>
                    </ul>
                </div>
                <div class="title">
                    <h2>Ruffle Front V-Neck Cardigan</h2>
                </div>
            </div>
            <div class=" card column sm-12 ">


                <!-- card left -->
                <div class="product-imgs column md-6">
                    <div class="img-display">
                        <div class="img-showcase">
                            <img src="/public/PG.10216885.JJ169XX.PZ.jpg" alt="shoe image">
                            <img src="/public/PG.10216885.JJ169XX.BZ.jpg" alt="shoe image">
                            <img src="/public/PG.10216885.JJ8UTXX.BZ.jpg" alt="shoe image">
                            <img src="/public/PG.10216885.JJ8UTXX.PZ.jpg" alt="shoe image">
                        </div>
                    </div>
                    <div class="img-select">
                        <div class="img-item selected-img" data-id="1">
                            <img src="/public/PG.10216885.JJ169XX.PZ.jpg" alt="shoe image">
                        </div>
                        <div class="img-item" data-id="2">
                            <img src="/public/PG.10216885.JJ169XX.BZ.jpg" alt="shoe image">
                        </div>
                        <div class="img-item " data-id="3">
                            <img src="/public/PG.10216885.JJ8UTXX.PZ.jpg" alt="shoe image">
                        </div>
                        <div class="img-item" data-id="4">
                            <img src="/public/PG.10216885.JJ8UTXX.BZ.jpg" alt="shoe image">
                        </div>
                    </div>
                </div>
                <!-- card right -->
                <div class="product-content column md-6">
                    <h2 class="product-title">$299.99</h2>



                    <div class="product-detail">

                        <p class="show-read-more">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                            imperdiet, nulla et dictum
                            interdum, nisi lorem egestas vitae scelerisque
                            enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae
                            massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed
                            ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare
                            turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non
                            fermentum. Sed dapibus pulvinar nibh tempor porta.</p>


                    </div>

                    <div class="purchase-info">
                        <input type="number" min="0" value="1">
                        <button type="button" class="btn"> ADD TO CART </button>

                    </div>

                    <div class="social-links">
                        <p>Share</p>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!--Tabs-->

        <div class="row">
            <div class="column sm-12">
                <div class="mytabs">
                    <input type="radio" id="tabfree" name="mytabs" checked="checked">
                    <label for="tabfree">Description</label>
                    <div class="tab">

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>

                    <input type="radio" id="tabsilver" name="mytabs">
                    <label for="tabsilver">Additional Information</label>
                    <div class="tab">

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>

                    <input type="radio" id="tabgold" name="mytabs">
                    <label for="tabgold">Reviews(3)</label>
                    <div class="tab">

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>

                </div>


            </div>
        </div>

        <!--Popular Items-->
        <div class="row">
            <div class="column sm-12 md-12 lg-12">
                <section class="featured">
                    <div class="text-title">
                        <div class="title-featured">
                            <h1>POPULAR ITEMS</h1>
                        </div>
                        <p>Unde omnis iste natus sit voluptatem</p>
                        <div class="slide-bar">
                            <h2>///</h2>
                        </div>
                    </div>

                    <div class="carousel owl-carousel">
                        <a href="/components/pdp.html" class="card" id="c1">
                            <div class="card__image" style="background-image: url('/public/calendar.png')"></div>
                            <div class="card__content">
                                <div class="card__title">Kristina Dam Oak Table With Wite Marble Top</div>

                                <div class="card__green">Awesome</div>
                            </div>
                        </a>

                        <a href="/components/pdp.html" class="card" id="c2">
                            <div class="card__image" style="background-image: url('/public/magazin.png')"></div>
                            <div class="card__content">
                                <div class="card__title">Hay-About A Lounge Chair AAL 93</div>

                                <div class="card__green">Marketing</div>
                            </div>
                        </a>

                        <a href="/components/pdp.html" class="card" id="c3">
                            <div class="card__image" style="background-image: url('/public/hand.png')"></div>
                            <div class="card__content">
                                <div class="card__title">Activate Facial Mask and Charcoal Soap</div>

                                <div class="card__green">Awesome</div>
                            </div>
                        </a>

                        <a href="/components/pdp.html" class="card" id="c4">
                            <div class="card__image" style="background-image: url('/public/sales.png')"></div>
                            <div class="card__content">
                                <div class="card__title">Coctail Table Walnut YES</div>

                                <div class="card__green">Marketing</div>
                            </div>
                        </a>

                        <a href="/components/pdp.html" class="card" id="c5">
                            <div class="card__image" style="background-image: url('/public/magazin.png')"></div>
                            <div class="card__content">
                                <div class="card__title">Best place to travel in the fall</div>

                                <div class="card__green">Awesome</div>
                            </div>
                        </a>

                        <a href="/components/pdp.html" class="card" id="c6">
                            <div class="card__image" style="background-image: url('/public/calendar.png')"></div>
                            <div class="card__content">
                                <div class="card__title">Best place to travel in the fall</div>

                                <div class="card__green">Marketing</div>
                            </div>
                        </a>

                        <a href="/components/pdp.html" class="card" id="c7">
                            <div class="card__image" style="background-image: url('/public/sales.png')"></div>
                            <div class="card__content">
                                <div class="card__title">Best place to travel in the fall</div>

                                <div class="card__green">Awesome</div>
                            </div>
                        </a>

                        <a href="/components/pdp.html" class="card" id="c8">
                            <div class="card__image" style="background-image: url('/public/hand.png')"></div>
                            <div class="card__content">
                                <div class="card__title">Best place to travel in the fall</div>

                                <div class="card__green">Marketing</div>
                            </div>
                        </a>
                    </div>

                </section>
            </div>
        </div>



        <!--Footer-->
        <div class="row">
            <footer class="footer stycky-footer">
                <div class="container">
                    <div class="row">
                        <div class="footer-col ">
                            <ul>
                                <h4><i class="far fa-copyright">Copyright 2021. All Right Reserved</i></h4>
                                <li><a href="javascript:void();">
                                        <h4>CONTACT <i class="fas fa-sort-down"></i></h4>
                                    </a>
                                    <ul class="dropdown-menu list-black">
                                        <li><a href="#">Headquarters:5600, Blvd. des Galeries, Bur 530 Quebec, Quebec
                                                G2K
                                                2H6</a></li>
                                        <li><a href="#">contact@osf-global.com</a></li>
                                        <li><a href="#">+1(888)548-4344</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <ul>
                                <li><a href="javascript:void();">
                                        <h4>CATEGORIES <i class="fas fa-sort-down"></i></h4>
                                    </a>
                                    <ul class="dropdown-menu long">
                                        <li><a href="#">Alcohol</a></li>
                                        <li><a href="#">Art</a></li>
                                        <li><a href="#">Books</a></li>
                                        <li><a href="#">Drinks</a></li>
                                        <li><a href="#">Electronics</a></li>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Jewelry</a></li>
                                        <li><a href="#">Kids & Baby</a></li>
                                        <li><a href="#">Men's Fashion</a></li>
                                        <li><a href="#">Mobile</a></li>
                                        <li><a href="#">Motorcycle</a></li>
                                        <li><a href="#">Movies</a></li>
                                        <li><a href="#">Music</a></li>
                                        <li><a href="#">Sport</a></li>
                                        <li><a href="#">Toys</a></li>
                                        <li><a href="#">Travel</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <ul>
                                <li><a href="javascript:void();"></a>
                                    <h4>ABOUT<i class="fas fa-sort-down"></i></h4></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Abous us</a></li>
                                        <li><a href="#">Delivery</a></li>
                                        <li><a href="#">Testimonials</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-col">

                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>



    <!--Js  Product Detail-->
    <script src="/js/pdp.js"></script>

    <!--Js  Featured-->
    <script src="/js/featured.js"></script>



</body>

</html>