
<section class="cards">

  <div class="title"><h1>Popular items</h1></div>

    <a href="#" class="card">
      <div class="card__image" style="background-image: url('/public/grafic.png')"></div>
      <div class="card__content">
        <div class="card__title">Kristina Dam Oak Table With Wite Marble Top</div>
        
        <div class="card__readmore">$ 799.55</div>
      </div>
    </a>

    <a href="#" class="card">
      <div class="card__image" style="background-image: url('/public/strategy.png')"></div>
      <div class="card__content">
        <div class="card__title">Hay-About A Lounge Chair AAL 93</div>
        
        <div class="card__readmore">Read More</div>
      </div>
    </a>

    <a href="#" class="card">
      <div class="card__image" style="background-image: url('/public/check.png')"></div>
      <div class="card__content">
        <div class="card__title">Activate Facial Mask and Charcoal Soap</div>
        
        <div class="card__readmore">$129.55</div>
      </div>
    </a>

    <a href="#" class="card">
      <div class="card__image" style="background-image: url('/public/kayboard.png')"></div>
      <div class="card__content">
        <div class="card__title">Coctail Table Walnut YES</div>
        
        <div class="card__readmore">$299.88</div>
      </div>
    </a>

    <a href="#" class="card">
      <div class="card__image" style="background-image: url('/public/chair.png')"></div>
      <div class="card__content">
        <div class="card__title">Hay-About A Lounge Chair AAL 93</div>
        
        <div class="card__readmore">Read More</div>
      </div>
    </a>
    <a href="#" class="card">
      <div class="card__image" style="background-image: url('/public/shampoo.png')"></div>
      <div class="card__content">
        <div class="card__title">Best place to travel in the fall</div>
        
        <div class="card__readmore">Read More</div>
      </div>
    </a>
    <a href="#" class="card">
      <div class="card__image" style="background-image: url('/public/chair.png')"></div>
      <div class="card__content">
        <div class="card__title">Best place to travel in the fall</div>
        
        <div class="card__readmore">Read More</div>
      </div>
    </a>
    <a href="#" class="card">
      <div class="card__image" style="background-image: url('/public/chair.png')"></div>
      <div class="card__content">
        <div class="card__title">Best place to travel in the fall</div>
        
        <div class="card__readmore">Read More</div>
      </div>
    </a>
    <a href="#" class="card">
      <div class="card__image" style="background-image: url('/public/chair.png')"></div>
      <div class="card__content">
        <div class="card__title">Best place to travel in the fall</div>
        
        <div class="card__readmore">Read More</div>
      </div>
    </a>
    <a href="#" class="card">
      <div class="card__image" style="background-image: url('/public/chair.png')"></div>
      <div class="card__content">
        <div class="card__title">Best place to travel in the fall</div>
        
        <div class="card__readmore">Read More</div>
      </div>
    </a>
    <a href="#" class="card">
      <div class="card__image" style="background-image: url('/public/chair.png')"></div>
      <div class="card__content">
        <div class="card__title">Best place to travel in the fall</div>
        
        <div class="card__readmore">Read More</div>
      </div>
    </a>
    <a href="#" class="card">
      <div class="card__image" style="background-image: url('/public/chair.png')"></div>
      <div class="card__content">
        <div class="card__title">Best place to travel in the fall</div>
        
        <div class="card__readmore">Read More</div>
      </div>
    </a>
    <button class="btn btn-danger center-block loadMore">LOAD MORE <i class="fas fa-chevron-circle-down"></i></button>
  </section>

  
  