@import "../global/settings";

.benefit {
  display: flex;
  flex-wrap: wrap;
  background: #45413e;
  padding: 20px;
  flex-direction: column;

  @include breakpoint("md") {
    padding: 60px 35px;
  }

  .rows {
    display: flex;
    align-items: center;
    padding: 5px;

    .icon-benefit {
      padding: 25px;
      color: #84bc22;
      font-size: 50px;

      @include breakpoint("md") {
        padding: 55px;
      }
    }

    .benefit-text {
      padding: 0 15px;

      @include breakpoint("md") {
        padding: 0 15px;
      }
    }

    h1 {
      color: $white;
      font-size: 19px;
      margin-bottom: 20px;
      text-align: center;
    }

    h2 {
      color: #868380;
      font-size: 12px;
      text-align: center;
    }

    &.first {
      flex-direction: row-reverse;

      @include breakpoint("md") {
        flex-direction: row;
      }
    }

    &.third {
      display: flex;
      flex-direction: row-reverse;

      @include breakpoint("md") {
        flex-direction: row;
      }
    }
  }
}
