
      .top-carusel{
        padding: 1px;
        width: 320px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 1px;
        
        @include breakpoint("md"){
          padding-top: 25px;
          width: 100%;
        }
        
        .img-slider{
          width: 320px;
          align-items: center;
          position: relative;
          margin: 10px;
          background: #1D212B;
          border-radius: 10px;
          overflow: hidden;

          @include breakpoint("md"){
            width: 800px;
            height: 460px;
          }
          
          .slide{
            z-index: 1;
            position: absolute;
            width: cover;
            height: cover;
            clip-path: circle(0% at 0 50%);
            
            &.active{
              width: 300px;
              clip-path: circle(150% at 0 50%);
              transition: 1s;
              transition-property: clip-path;
              
              @include breakpoint("md"){
                  width: 100%;
              }
            }
              .info{
                text-align: left;
                padding: 0 5px;
                position: absolute;
                top: 40px;

                @include breakpoint("md"){
                padding: 15px 30px;
                }
               
                h2{
                  font-size: 28px;
                  color: #fff;
                  font-weight: 600;
                  letter-spacing: 2px;
                  
                  @include breakpoint("md"){
                  font-size: 38px;
                  }
                }
                p{
                  margin-top: 15px;
                  color: #fff;
                  font-size: 16px;
                  width: 60%;
                  padding: 10px;
                  border-radius: 4px;

                  @include breakpoint("md"){
                  margin-top: 50px;
                  }
                }
                .btns{
                  text-align: center;
                  display: inline-block;
                  text-decoration: none;
                  
                  border: 2px solid #a2a09e;
                  color: #fff;
                  font-size: 14px;
                  font-weight: 500;
                  padding: 10px 25px;
                  border-radius: 25px;
                  transition: all 0.3s ease;
                  width:150px;

                }
              }
              img{
                width: 100%;
                object-fit: cover;
                object-position: right;
                z-index: 1;
                width: 800px;
                height: 460px;
                border-radius: 5px;
              }
            
          }
          .navigation{
            z-index: 2;
            position: absolute;
            display: flex;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            .btn.active{
              background: #2696E9;
              box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
            }

            .slide-dot{
              background: rgba(255, 255, 255, 0.5);
              width: 12px;
              height: 12px;
              margin: 10px;
              border-radius: 50%;
              cursor: pointer;
            }
          }
        }
      .right-sight{
        margin-bottom:130px;
        margin-left: 30px;
        background: #fff;

        @include breakpoint("md"){
        margin-top: 10px;
        margin-left: 15px;
        position: relative;
        width: 270px;
        height: 325px;
        }
        .green-cont{
          background:#6b9205 ;
          display: flex;
          flex-direction: column;
          width: 270px;
          height: 335px;
          border-radius: 10px;
          background-image: url(../public/palmier.png);
          background-repeat: no-repeat;
          background-position-y: bottom;
          text-align: center;

          h1{
            font-size: 80px;
            font-weight: 800;
            color: white;
            margin-top: 35px;
          }
          h2{
            margin-top: 50px;
            font-size: 25px;
            color: white;
          }
        }
          .facebook{
            display: grid;
            text-align: center;

            h3{
              font-size: 17px;
              color: #45413e;
              line-height: 7px;
              padding: 15px 15px;
            }
            h4{
              font-size: 13px;
              color: #45413e;
            }
            .btns{
              margin-top: 25px;
              a{
                text-decoration: none;
                border: 2px solid #3a5b96;
                color: #3a5b96;
                font-size: 14px;
                border-radius: 25px;
                transition: all 0.3s ease;
                padding: 8px 30px;
              }
            }
          }
        

      }

      }

    
    
    