.overlay {
  position: absolute;
  display: none;
  /* color with alpha transparency */
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
  /* stretch to screen edges */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cookie-container {
  width: 88%;
  left: 7%;
  right: 7%;
  bottom: 50px;
  text-align: right;
  display: none;
  position: absolute;
  background: #fff;
  color: #141414;

  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
  transition: 400ms;
  border-radius: 10px;
  z-index: 4;

  &.active {
    display: block;
  }

  h1 {
    padding: 15px;
    text-align: left;
    margin-bottom: 20px;
    color: #84bc22;
    font-size: 18px;
  }

  p {
    padding: 0 15px;
    text-align: left;
    font-size: 14px;
    color: #141414;
    margin: 0;
    margin: 24px 0;
    line-height: 2;
  }

  a {
    font-size: 14px;
    color: #84bc22;
  }

  .close-btns {
    padding: 0 15px;
    background: #fff;
    border-radius: none;
    border: #fff;
    font-size: 25px;
  }
  .cookie-btn {
    padding: 0 15px;
    margin-left: 0;
    background: #84bc22;
    border-radius: 25px;
    border: 0;
    color: #f5f6fa;
    padding: 12px 48px;
    margin-bottom: 10px;
  }
}
