@import "../global/settings";
@import "../global/mixins";

.featured {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background: #262a32;
  padding-top: 20px;

  @include breakpoint("md") {
    padding-top: 40px;
    padding: 0 10px;
  }

  .text-title {
    text-align: center;

    .title-featured {
      font-size: 20px;
      color: $white;
      text-align: center;
    }

    p {
      color: $white;
      font-size: 17px;
    }

    .slide-bar {
      color: $white;
      text-align: center;
      font-size: 20px;
      font-weight: 600;

      h2 {
        &::after {
          content: "";
          position: absolute;
          margin: auto;
          height: 2px;
          background: #fff;
          width: 20%;
          left: 23%;
          margin-top: 20px;

          @include breakpoint("sm") {
            width: 27%;
            left: 18%;
          }
        }

        &::before {
          content: "";
          position: absolute;
          margin: auto;
          height: 2px;
          background: #fff;
          width: 20%;
          right: 23%;
          margin-top: 20px;

          @include breakpoint("sm") {
            width: 27%;
            right: 18%;
          }
        }
      }
    }
  }

  .carousel {
    display: flex;
    position: relative;
    margin: auto;

    .card {
      display: flex;
      flex-direction: column;
      flex: 20px 0 150px;
      max-height: 350px;
      min-height: 350px;
      overflow: hidden;
      background: $white;
      color: #000000;
      border-radius: 5px;
      box-shadow: 3px 2px 14px rgba(255, 255, 255, 0.2);
      text-decoration: none;
      font-size: 1rem;
      transition: all 200ms ease-in-out;

      &:hover {
        transform: translateY(-1rem);
        box-shadow: 2px 3px 18px rgba(255, 255, 255, 0.4);
      }

      &__image {
        flex: 0 0 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
      }

      &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 1rem;
      }

      &__title {
        font-size: 17px;

        margin-bottom: 0.5rem;
        text-align: center;
        color: #45413e;
      }

      &__readmore {
        text-align: center;
        margin-top: auto;
        font-size: 17px;
      }
    }
  }

  .card__green {
    color: #84bc22;
    text-align: center;
  }

  .fa-chevron-left,
  .fa-chevron-right {
    font-size: 30px;
    color: $white;
    transition: all 0.2s;
  }

  .fa-chevron-left:hover,
  .fa-chevron-right:hover {
    color: #777;
  }

  .owl-carousel {
    width: calc(100% - 40px);
    display: flex !important;
    flex-direction: column;
    padding: 0;

    @include breakpoint("md") {
      width: 100%;
    }

    .owl-stage-outer {
      width: 100%;
      margin: 10px 0 30px;
      order: 1;

      @include breakpoint("md") {
      }
    }
  }

  .owl-nav {
    padding: 20px 0 10px;

    .owl-prev {
      position: absolute;
      left: 10%;
      top: -30px;
    }

    .owl-next {
      position: absolute;
      right: 10%;
      top: -30px;
    }
  }
}
