

  .featured{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 15px;
    max-width: 1245px;
    display: flex;
   margin-left: 17vh;
   
   background: #262a32;
    
  }
  .title-featured{
    font-size: 20px;
    color: #fff;
    text-align: center;
  }
.text-title p{
  color: #fff;
  font-size: 17px;
}
.text-title .slide-bar{
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight:600;
}

.text-title .slide-bar h2::after {
  content: "";
  position: absolute;
  margin: auto;
  height: 2px;
  background: #fff;
  width: 25%;
  left: 15%;
  margin-top: 20px;
  
 }
 .text-title .slide-bar h2::before {
  content: "";
  position: absolute;
  margin: auto;
  height: 2px;
  background: #fff;
  width: 25%;
  right:20% ;
  margin-top: 20px;
 }
 
  
   .carousel {
    position: relative;
    max-width: 1150px;
    margin: auto;
    padding: 0 60px;
  }
  
  .carousel .card {
    // max-height: 150px;
    border-radius: 5px;
  }
  
  .card__green{
    color:#84bc22 ;
    text-align: center;
  }
  
  // .owl-dots {
  //   text-align: center;
  //   margin-top: 20px;
  // }
  
  // .owl-dot {
  //   height: 15px;
  //   width: 15px;
  //   border-radius: 50%;
  //   cursor: pointer;
  //   outline: none;
  //   margin: 0 5px;
  //   border: 2px solid #fff !important;
  //   transition: all 0.3s ease;
  // }
  
  // .owl-dot:hover,
  // .owl-dot.active {
  //   background-color: #fff !important;
  // }
  // .owl-carousel .owl-item{
  //   padding: 10px;
  // }

  .owl-prev,
  .owl-next {
    position: absolute;
    top: 51%;
    transform: translate(-50%, -50%);
  }
  
  .owl-prev {
    left: 40px;
  }
  
  .owl-next {
    right: 20px;
  }
  
  .fa-chevron-left,
  .fa-chevron-right {
    font-size: 30px;
    color: #fff;
    transition: all 0.2s;
  }
  
  .fa-chevron-left:hover,
  .fa-chevron-right:hover {
    color: #777;
  }
  

  @media ( max-width:350px){

.featured{
  margin-left: 1px;
  max-width: 320px;
  .card{
   
 
}
  .owl-carousel{
    width: 300px;
    
   .owl-stage-outer{
    gap: 20px;
    
     .owl-item{
      gap: 20px;
      width: 100px;
     }
     .owl-item .cloned{
       width: 100px;
      gap: 20px;
     }
     
   }
  }
  
}

  }