@import "../global/settings";

.mytabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px 0 0;
    
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    background: $white;
    font-weight: bold;
    color: #bdc3c7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 16px 5%;
    
    @include breakpoint("md") {
        padding: 16px 10%;
    }
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: $white;
    order: 1;
    display: none;
    background-color: #262a33;
    color: $white;
}

.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #262a33;
    color: $white;
}